@{
    ViewData["Title"] = "Perfil";
}
        <main class="fundo">
            <div class="pag">
                <section class="info-perfil">
                    <div class="foto-perfil">
                        <div class="foto-center">
                            <div class="foto-borda">
                                <img alt="Foto de perfil" src="img/79763607_516843355604052_5614717620805127920_n.jpg" style="width: 160px;">
                            </div>
                        </div>
                    </div>
                    <section class="texto-perfil">
                        <div class="nome-perfil">
                            <h2>marcos_roberto</h2>
                            <a class="engrenagem-perfil" 
                            href="../EdicaoPerfil/Index.html"><img src="img/Engrenagem.editt.svg" alt="Engrenagem">
                            </a>

                        </div>
                        <ul class=links-perfil>
                            <li class="pss">
                                <span class="numero-perfil">1</span>
                                publicações
                            </li>
                            <li class="pss">
                                <span class="numero-perfil">125</span>
                                seguindo

                            </li>
                            <li class="pss">
                                <span class="numero-perfil">214</span>
                                seguidores

                            </li>
                        </ul>
                        <div class="bio-perfil">
                            <h1 class="bio">Marcos</h1>
                            <ul class="botao-sair"> 
                                <li>
                                    <a class="sair-perfil" href="../TelaLogin/Index.html">Sair</a>
                                </li>

                            </ul>
                        </div>
                    </section>
                </section>
            </div>

            <section class="publi">
                <div class="pag publi-flex">
                <img src="img/Publicacao.svg" alt="publi">
                    
                <span class=texto-p>Publicações</span>
                </div>
            </section>

            <section class="feed-perfil">
                <div class="pag feed-flex">
                    <img src="img/Rectangle 4.jpg" alt="foto">
                </div>

                
                <div class="foto-perfil-menor">
                    <div class="foto-center-menor">
                        <div class="foto-borda">
                            <img alt="Foto de perfil" src="img/79763607_516843355604052_5614717620805127920_n.jpg" style="width: 60px;">
                        </div>
                    </div>

                <div class="div-comentarios">
                      
                    <div class="posicao">
                        <img src="img/coracao.svg" class="espaco-img" alt="Coração">
                        <img src="img/Mensagem.svg" alt="Mensagem">
                        <ul class="curtidas-perfil">
                            <li class="curtidas-tamanho">
                                <span class="numero-curtidas">1954</span> curtidas
                            </li>
                        </ul>
                        
                    </div>

                    <!-- Comentarios -->
                    <div class="comentarios-perfil">
                        <div class="coment-perfil">
                            <ul class="pessoas-coment">
                                <span class="pessoas-perfil">fausto_silva</span> Esse cara é ferá bixo!!! 
                            
                            </ul>
                            <img src="img/coracaomenor.svg" alt="curtida">
                        </div>
                     </div><!-- Final -->

                     <div class="comentarios-perfil">
                        <div class="coment-perfil">
                            <ul class="pessoas-coment2">
                                <span class="pessoas-perfil">yes_bay</span> Thank you
                            
                            </ul>
                            <img src="img/coracaomenor.svg" alt="curtida">
                        </div>
                     </div><!-- Final -->

                     <div class="comentarios-perfil">
                        <div class="coment-perfil">
                            <ul class="pessoas-coment3">
                                <span class="pessoas-perfil">adriano_stark</span> Quando eu adormecer,vou sonhar com você.<br> É sempre você
                            
                            </ul>
                            <img src="img/coracaomenor.svg" alt="curtida">
                        </div>
                     </div><!-- Final -->

                     <div class="comentarios-perfil">
                        <div class="coment-perfil">
                            <ul class="pessoas-coment4">
                                <span class="pessoas-perfil">yes_baby</span> Yes_baby
                            
                            </ul>
                            <img src="img/coracaomenor.svg" alt="curtida">
                        </div>
                     </div><!-- Final -->

                     <div class="comentarios-perfil">
                        <div class="coment-perfil">
                            <ul>
                                <span class="outros-comentario">Ver todos os 585 comentários</span>
                            
                            </ul>
                        </div>
                     </div><!-- Final -->
                </div>

                </div>
                <div class="nome-cidade">
                    <div>
                        <h1 class="tamanho-nome">Marcos</h1>
                        <span class="tamanho-cidade">Rio de Janeiro</span>
                    </div>
            
                </div>

            </section>
        </main>