@{
    ViewData["Title"] = "Cadastro";
}

<main> 
    <section class="form-section"> 
        
        <div class="box-main">
           
            <div class="pre-form">

                <h1 class="register-title"><img src="/img/img_logo.svg" alt=""></h1>
                <p>Cadastre-se para ver fotos e</p>
                <p>vídeos dos seus amigos.</p>
            </div>

            <form method="POST" action='@Url.Action("New")'> 
                
                <!-- começo da parte dos inputs -->
                <div class="register">
                    <input name="Email" type="email" placeholder="Email" class="input"> 
                </div>
                
                <div class="register">
                    <input name="CompleteName" type="text" placeholder="Nome completo" class="input"> 
                </div>

                <div class="register">
                    <input name="UserName" type="text" placeholder="Nome de usuário" class="input"> 
                </div>
                
                <div class="register">
                    <input name="Password" type="password" placeholder="Senha" class="input"> 
                </div>
                <!-- fim da parte dos inputs -->

                <!-- começo do botão para cadastrar -->
                <button type="submit" class="register-btn">Cadastre-se</button>
                <!-- fim do botão para cadastrar -->

                
            </form>

            <div class="pos-form">
                <p>Ao se cadastrar, você concorda com nossos</p>
                <p><a asp-area="Direcionamento para a página de Termos" asp-controller="" asp-action="">Termos</a>,&nbsp
                <a asp-area="Direcionamento para a página de Política de Dados" asp-controller="" asp-action="">Política de Dados</a>&nbspe&nbsp
                <a asp-area="Direcionamento para a página de Política de Cookies" asp-controller="" asp-action="">Política de Cookies</a>.</p>
            </div>
        </div>

        <section class="extra-section">
            <div class="connect">
                <p>Tem uma conta?&nbsp<a asp-area="Direcionamento para a página de Login" asp-controller="" asp-action="">Conecte-se</a></p>
            </div>

            <div class="app">
                <p>Obtenha o aplicativo.</p>
                <div class="images-app">
                    <a href="https://apps.apple.com/br/app/instagram/id389801252"><img src="/img/app_store 1.png" alt="Obter o aplicativo pela App Store"></a> 
                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=pt_BR&gl=US"><img src="/img/google_play 1.png" alt="Obter o aplicativo pela Google Play"></a>
                </div>
            </div>
        </section>
    </section>
</main>