@{
    ViewData["Title"] = "EditarPerfil";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="EdicaoPerfil.css">
    <title>EditarPerfil</title>
</head>
<body>
    <!-- Início Header -->
    <header>
        <div class="center">    
    
            <div class="logo-header">
                <a href="#"><img src="img/Instadev.svg" alt="logo Instadev"></a>
            </div> <!-- logo da header -->
            
    
            <div class="search">
    
                <div class="search-box">
    
                    <i class="fas fa-search"></i>
                    <input placeholder="Pesquisar" type="text" name="busca">
    
                </div><!-- search-box-->
                
            </div> <!-- search-->
            
    
            <div class="notify">
                
                <a href="#"><img src="img/Vector.svg"></a>
                <a href="#"><img src="img/plane 1.svg"></i></a>
                <a href="#"><i class="far fa-compass"></i></i></a>
                <a href="#"><i class="far fa-heart"></i></a>
    
                <div class="img-miniatura"><img src="img/IMG_20201028_173745_375 (4).jpg"  ></div>
            </div><!--icones-->
    
        </div><!--center div de centralizar-->
    </header>
    <!-- Fim Header -->

    <main class=container>
        <section class="content">
            <div class="barra-divisao"></div>
            <div class="esquerdo">
                <div class="barra-esquerda"></div>
                <div class="editar-perfil">Editar Perfil</div>
            </div>
            <div class="direito">
                <div class="foto-perfil">
                    <img src="img/thank-you 2.png" alt="Foto de perfil" class="img">
                    <div class="username">Strilicherk</div>
                    <a href="#" class="alterar-foto">Alterar foto de perfil</a>
                </div>
                <div class="nome">
                    <h1>Nome</h1>
                    <input type="text">
                    <p>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é conhecido: seu nome completo, apelido ou nome comercial. <br>
                    <br>
                    Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</p>
                </div>
                <div class="nome-usuario">
                    <h2>Nome de Usuário</h2>
                    <input type="text">
                    <p>Na maioria dos casos, você poderá alterar seu nome de usuário novamente para nascimento_tr por mais 14 dias.<br>
                        <br>
                    Informações pessoais <br> Forneça suas informações pessoais, mesmo se a conta for usada para uma empresa, um animal de estimação ou outra coisa. Elas não farão parte do seu perfil público.</p>
                </div>
                <div class="email">
                    <h3>Email</h3>
                    <input type="email">
                </div>
                <div class="inferior">
                    <button>Enviar</button>
                    <a href="#">Desativar minha conta definitivamente</a>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>