*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-size: 16px;
    background-color:#E5E5E5;
}
/* Header */
header{
    height: 2.7em;
    width: 100%;
    background-color: #ffffff;
    
}
header > .center{
    display: flex;
    max-width: 1070px;
    padding: 0 2%;
    margin: 0 auto;
}
.logo-header{
    width: 30%;
}
.logo-header img{
    max-width: 5em;
    width: 100%;
    padding-top: 10px;
}
.search{
    width: 50%;
    text-align: center;
    padding-top: 0.5em;
}
.search-box{
    display: inline-block;
    position: relative;
}
.search-box input{
    background-color: #FAFAFA;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    width: 250px;
}
.search-box i{
    position: absolute;
    left: 60px;
    top: 0.55em;

    font-size: 0.8em;

    opacity: 0.3;

    color: inherit;
}
.notify{
    width: 20%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1em;
}
.notify i{
    font-size: 25px;
    color: black;
}
.img-miniatura img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border-radius: 50px;
}
/* Fim Header */

.container{
    width: 100%;
    height: 51.95em;
    background-color: E5E5E5;
    display: flex;
}
.content{
    position: absolute;
    width: 58.4375em;
    height: 38.125em;
    left: 30.75em;
    top: 4.8125em;

    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
}
.barra-divisao{
    position: absolute;
    width: 38.125em;
    left: -100px;
    height: 0px;
    top: 19em;
    color: #F1F1F1;
    border: 1px solid #F1F1F1;
    transform: rotate(90deg);
}
.esquerdo{
    background-color: white;
    width: 15.3125em;
    height: 100%;
}
.barra-esquerda{
    position: absolute;
    width: 3.75em;
    left: -1.875em;
    top: 1.8125em;
    border: 1px solid #000000;
    transform: rotate(90deg);
}
.editar-perfil{
    position: absolute;
    width: 79px;
    height: 20px;
    left: 1.8125em;
    top: 1.1875em;
    font-weight: 600;
    font-size: 15px;
}
.img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 362px;
    top: 19px;
    border-radius: 100px;
}
.username{
    position: absolute;
    width: 209px;
    height: 24px;
    left: 433px;
    top: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.alterar-foto{
    position: absolute;
    width: 209px;
    height: 24px;
    left: 433px;
    top: 50px;
    text-decoration: none;
    color: #2686CC;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.nome h1{
    position: absolute;
    width: 48px;
    height: 19px;
    left: 373px;
    top: 98px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.nome input{
    position: absolute;
    width: 354px;
    height: 30px;
    left: 433px;
    top: 92px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}
.nome p{
    position: absolute;
    width: 354px;
    height: 48px;
    left: 433px;
    top: 134px;
    font-size: 12px;
    line-height: 16px;
    color: #909090;
}
.nome-usuario h2{
    position: absolute;
    width: 118px;
    height: 19px;
    left: 303px;
    top: 250px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.nome-usuario input{
    position: absolute;
    width: 354px;
    height: 30px;
    left: 433px;
    top: 244px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}
.nome-usuario p{
    position: absolute;
    width: 354px;
    height: 48px;
    left: 433px;
    top: 286px;
    font-size: 12px;
    line-height: 16px;
    color: #909090;
}
.email h3{
    position: absolute;
    width: 118px;
    height: 19px;
    left: 376px;
    top: 433px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.email input{
    position: absolute;
    width: 354px;
    height: 30px;
    left: 433px;
    top: 427px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
}
.inferior button{
    position: absolute;
    width: 66px;    
    height: 30px; 
    top: 507px;
    left: 433px;
    border-radius: 2px;   
    line-height: 10px;    
    color: #FFFFFF;         
    font-weight: 600;
    background-color: #2686CC;
    cursor: pointer;    
}
.inferior a{
    position: absolute;
    width: 354px;
    height: 16px;
    left: 577px;
    top: 514px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #2686CC;
}
/* footer{
    width: 100%;
    height: 3.3125em;
    background-color: white;
} */
